  .footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    margin-top: 84px;
}

  

  .footer a {
    text-decoration: none;
    color: var(--text-default);
    font-size: 12px;
}

.footer a:hover {
  color: var(--text-muted);
  text-decoration: underline;
}